{% set detailLink = path_for('theater_topic_detail', {
    name: theater.getName(),
    id: news.getId()
}) %}
<div class="item">
    <div class="d-md-flex d-none border-bottom border-light-gold py-5">
        <div class="thumbnail">
            <div class="border border-super-light-gray image mb-2" style="background-image: url({{ file_url(news.getImage()) }});"></div>
        </div>
        <div class="info pl-5">
            <p class="mb-4">{{ news.getStartDt()|date('Y/m/d') }}</p>
            <p class="text-large mb-4">{{ news.getHeadline()|truncate(54) }}</p>
            <p class="mb-4">{{ news.getBody()|striptags|truncate(105) }}</p>

            <div><a class="text-light-blue" href="{{ detailLink }}">さらに詳しく > </a></div>
        </div>
    </div>
    <div class="d-md-none border-bottom border-light-gold py-5">
        <p>{{ news.getStartDt()|date('Y/m/d') }}</p>
        <p class="text-large mb-3">{{ news.getHeadline()|truncate(54) }}</p>
        <div class="thumbnail mb-3">
            <div class="border border-super-light-gray image mb-2" style="background-image: url({{ file_url(news.getImage()) }});"></div>
        </div>
        <div class="text-center py-2">
            <a class="text-light-blue" href="{{ detailLink }}">さらに詳しく > </a>
        </div>
    </div>
</div>