{##
 # 劇場ページ ナビゲーション
 # 
 # vars:
 # * tehater
 # * active
 #}

{% set topClass = '' %}
{% set topicClass = '' %}
{% set priceClass = '' %}
{% set advanceTcketClass = '' %}
{% set floorGuideClass = '' %}
{% set accessClass = '' %}

{% if active == 'top' %}
    {% set topClass = 'active' %}
{% elseif active == 'topic' %}
    {% set topicClass = 'active' %}
{% elseif active == 'price' %}
    {% set priceClass = 'active' %}
{% elseif active == 'advance_tcket' %}
    {% set advanceTcketClass = 'active' %}
{% elseif active == 'floor_guide' %}
    {% set floorGuideClass = 'active' %}
{% elseif active == 'access' %}
    {% set accessClass = 'active' %}
{% endif %}

{% set topUrl = path_for('theater', { name: theater.getName() }) %}
{% set topicUrl = path_for('theater_topic_list', { name: theater.getName() }) %}
{% set priceUrl = path_for('theater_price', { name: theater.getName() }) %}
{% set advanceTcketUrl = path_for('theater_advance_ticket', { name: theater.getName() }) %}
{% set floorGuideUrl = path_for('theater_floor_guide', { name: theater.getName() }) %}
{% set accessUrl = path_for('theater_access', { name: theater.getName() }) %}

<div class="sub-header border-super-light-orange border-bottom border-dark-gold d-md-block d-none">
    <div class="sub-header-inner base-width mx-auto">
        <ul class="d-flex align-items-center text-small text-center">
            <li class="{{ topClass }}">
                <a class="d-flex align-items-center text-ultra-dark-gray" href="{{ topUrl }}">
                    <span class="border-left border-dark-gold py-2">劇場TOP/<br>上映スケジュール</span>
                </a>
            </li>
            <li class="{{ topicClass }}">
                <a class="d-flex align-items-center text-ultra-dark-gray" href="{{ topicUrl }}">
                    <span class="border-left border-dark-gold py-2">トピックス</span>
                </a>
            </li>
            <li class="{{ priceClass }}">
                <a class="d-flex align-items-center text-ultra-dark-gray" href="{{ priceUrl }}">
                    <span class="border-left border-dark-gold py-2">料金案内</span>
                </a>
            </li>
            <li class="{{ advanceTcketClass }}">
                <a class="d-flex align-items-center text-ultra-dark-gray" href="{{ advanceTcketUrl }}">
                    <span class="border-left border-dark-gold py-2">前売券情報</span>
                </a>
            </li>
            <li class="{{ floorGuideClass }}">
                <a class="d-flex align-items-center text-ultra-dark-gray" href="{{ floorGuideUrl }}">
                    <span class="border-left border-dark-gold py-2">施設案内</span>
                </a>
            </li>
            <li class="{{ accessClass }}">
                <a class="d-flex align-items-center text-ultra-dark-gray" href="{{ accessUrl }}">
                    <span class="border-left border-right border-dark-gold py-2">交通アクセス</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="sub-header border-super-light-orange border-bottom border-dark-gold d-md-none">
    <div class="sub-header-inner mx-auto">
        <div class="swiper-container">
            <ul class="d-flex align-items-center text-small text-center swiper-wrapper">
                <li class="swiper-slide {{ topClass }}">
                    <a class="d-flex align-items-center text-ultra-dark-gray" href="{{ topUrl }}">
                        <span class="border-left border-dark-gold py-2">TOP/<br>上映スケジュール</span>
                    </a>
                </li>
                <li class="swiper-slide {{ topicClass }}">
                    <a class="d-flex align-items-center text-ultra-dark-gray" href="{{ topicUrl }}">
                        <span class="border-left border-dark-gold py-2">トピックス</span>
                    </a>
                </li>
                <li class="swiper-slide {{ priceClass }}">
                    <a class="d-flex align-items-center text-ultra-dark-gray" href="{{ priceUrl }}">
                        <span class="border-left border-dark-gold py-2">料金案内</span>
                    </a>
                </li>
                <li class="swiper-slide {{ advanceTcketClass }}">
                    <a class="d-flex align-items-center text-ultra-dark-gray" href="{{ advanceTcketUrl }}">
                        <span class="border-left border-dark-gold py-2">前売券情報</span>
                    </a>
                </li>
                <li class="swiper-slide {{ floorGuideClass }}">
                    <a class="d-flex align-items-center text-ultra-dark-gray" href="{{ floorGuideUrl }}">
                        <span class="border-left border-dark-gold py-2">施設案内</span>
                    </a>
                </li>
                <li class="swiper-slide {{ accessClass }}">
                    <a class="d-flex align-items-center text-ultra-dark-gray" href="{{ accessUrl }}">
                        <span class="border-left border-right border-dark-gold py-2">交通アクセス</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
