{% extends "theater/layout.html.twig" %}

{% block title %}施設案内 | {{ parent() }}{% endblock %}

{% block description %}{{ theater.getNameJa() }}の劇場設備ページです。スクリーン数や座席数、劇場設備に関するご案内など{% endblock %}

{% block keywords %}{{ parent()}},スクリーン,座席数,3D,車椅子{% endblock %}

{% block css %}
<link href="/css/theater/floor-guide.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script src="/js/theater/floor-guide.js"></script>
{% endblock %}

{% block navbar %}
{% include 'theater/include/navbar.html.twig' with {
    theater: theater,
    active: 'floor_guide',
} only %}
{% endblock %}

{% block contents %}
<div class="py-3">
    <div class="base-width mx-auto px-3">
        <ul class="breadcrumb-list text-small">
            <li>
                <a class="text-light-blue" href="{{ path_for('homepage') }}">
                    <span>ホーム</span>
                </a>
            </li>
            <li>
                <a class="text-light-blue" href="{{ path_for('theater', { name: theater.getName() }) }}">
                    <span>{{ theater.getNameJa() }}ホーム</span>
                </a>
            </li>
            <li>
                <span>施設案内</span>
            </li>
        </ul>
    </div>
</div>

<div class="py-4 text-ultra-dark-gray floor-guide">
    <div class="base-width mx-auto px-3">
        <h2 class="text-large text-center"><strong>施設案内</strong></h2>
        
        {% include 'theater/floor_guide/include/' ~ theater.getName() ~ '.html.twig' with {
            theater: theater,
        } only %}
    </div>
</div>

{% include "theater/floor_guide/include/screen_modal.html.twig" only %}
{% endblock %}
